@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@using Ehome_BackEnd.Models
@model Futniture

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div asp-validation-summary="ModelOnly"></div>
    <form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-xl-3">
        <label class="mb-3">Furniture Name:</label><br />
        <input asp-for="Name" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="col-xl-3">
        <label class="mb-3">Furniture CostPrice:</label><br />
        <input asp-for="CostPrice" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="CostPrice"></span>
    </div>
    <div class="col-xl-3">
        <div>
            <label class="mb-3">Furniture SalePrice:</label><br />
            <input asp-for="SalePrice" class="form-control" /><br />
            <span class="text-danger" asp-validation-for="SalePrice"></span>
        </div>
    </div>
    <div class="col-xl-3">
        <div>
            <label class="mb-3">Furniture Discount:</label><br />
            <input asp-for="Discount" class="form-control" /><br />
            <span class="text-danger" asp-validation-for="Discount"></span>
        </div>
    </div>
    <div class="col-xl-3">
        <div>
            <label class="mb-3">Furniture Count:</label><br />
            <input asp-for="Count" class="form-control" /><br />
            <span class="text-danger" asp-validation-for="Count"></span>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-xl-3">
        <div>
            <label class="mb-3">Category:</label><br />
            <select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.CategoryId,"Id","Name"))" aria-label="Default select example">
                <option>Kategoriya seçin:</option>
                <span class="text-danger" asp-validation-for="CategoryId"></span>
            </select>
        </div>
    </div>
    <div class="col-xl-3">
        <label class="mb-3">Color:</label><br />
        <select asp-for="ColorId" class="form-select" asp-items="@(new SelectList(ViewBag.ColorId,"Id","Name"))" aria-label="Default select example">
            <option>Rəngi seçin:</option>
            <span class="text-danger" asp-validation-for="ColorId"></span>
        </select>
    </div>
    <div class="col-xl-3">
        <label class="mb-3">Country:</label><br />
        <select asp-for="CountryId" class="form-select" asp-items="@(new SelectList(ViewBag.CountryId,"Id","Name"))" aria-label="Default select example">
            <option>Ölkə seçin:</option>
            <span class="text-danger" asp-validation-for="CountryId"></span>
        </select>
    </div>
    <div class="col-xl-3">
        <label class="mb-3">Matreal:</label><br />
        <select asp-for="MatrealId" class="form-select" asp-items="@(new SelectList(ViewBag.MatrealId,"Id","Name"))" aria-label="Default select example">
            <option>Matreal seçin:</option>
            <span class="text-danger" asp-validation-for="MatrealId"></span>
        </select>
    </div>
    <div class="col-xl-3">
        <label class="mb-3">Marka:</label><br />
        <select asp-for="BrandId" class="form-select" asp-items="@(new SelectList(ViewBag.BrandId,"Id","Name"))" aria-label="Default select example">
            <option>Marka seçin:</option>
            <span class="text-danger" asp-validation-for="BrandId"></span>
        </select>
    </div>
    </div>
    <div class="row">
            <div class="mb-3 col-xl-6">
                <input id="product-input1" asp-for="MainImage" class="form-control" placeholder="Məhsulun Adı">
                <span class="text-danger" asp-validation-for="MainImage"></span>
                <div id="product-img1">
                    <img style="max-width:150px" src="~/assets/IMG/furnitures/@Model.FurnitureImages.FirstOrDefault(x=>x.IsMain==true)?.Image" />
                </div>
            </div>
            <div class="col-xl-6">
                <input id="product-input2" asp-for="OtherImageFiles" class="form-control" placeholder="Məhsulun Adı">
                <span class="text-danger" asp-validation-for="OtherImageFiles"></span>
                <div id="product-img2">
                    @foreach (var item in Model.FurnitureImages.Where(x => x.IsMain == false))
                    {
                        <div class="img-box" style="display: inline-block; position: relative;margin-right:8px">
                            <input type="hidden" name="ProductImageIds[]" value="@item.Id" />
                            <img style="max-width:150px" src="~/assets/IMG/furnitures/@item.Image" />
                            <span class="remove-img-box" style="position: absolute; top: -10px; right: -5px; cursor:pointer">
                                <i class="fa-solid fa-circle-minus" style="color:red;font-size:30px"></i>
                            </span>
                        </div>
                    }

                </div>
            </div>
        </div>
     <div class="row">
         <button type="submit" style="width:10rem;margin-bottom:2rem" class="btn btn-success">Yenilə</button>  
     </div>
</form>
</div>


@section Scripts{ 
    <script>
        let productinput1 = document.getElementById("product-input1")
        let productdiv1 = document.getElementById("product-img1")
        productinput1.onchange = function (e) {
            let files = e.target.files
            let filesarr = [...files]
            filesarr.forEach(x => {
                if (x.type.startsWith("image/")) {
                    let reader = new FileReader()
                    reader.onload = function () {
                        productdiv1.innerHTML = ""
                        let newimg = document.createElement("img")
                        newimg.style.width = "150px"
                        newimg.setAttribute("src", reader.result)
                        productdiv1.appendChild(newimg)
                    }
                    reader.readAsDataURL(x)
                }
            })
        }
    </script>
    <script>
    let productinput = document.getElementById("product-input2")
    let productdiv = document.getElementById("product-img2")
    productinput.onchange = function (e) {
        let files = e.target.files
        let filesarr = [...files]
        filesarr.forEach(x => {
            if (x.type.startsWith("image/")) {
                let reader = new FileReader()
                reader.onload = function () {

                    let newimg = document.createElement("img")
                    newimg.style.width = "150px"
                    newimg.setAttribute("src", reader.result)
                    productdiv.appendChild(newimg)
                }
                reader.readAsDataURL(x)
            }
        })
    }
    </script>
     <script>
        $(document).ready(function () {
            $(document).on("click", ".remove-img-box", function () {
                $(this).parent().remove();
            })
        })
    </script>
}

